#stats .card{
    min-width: 250px;
}
#stats .card:active .description{
    transform: translateY(0);
    transition: transform .321s ease-in;
}
#stats .card .description{
    height: 230px;
    overflow-y: auto;
    transform: translateY(-105%);
    transition: transform .3s ease-in;
    width: 100%;
    z-index: 2;
}
#stats .bi{
    transition:transform .5s;
}
#stats .bi:hover{
    transform:scale(1.1);
}
.form-right {
    width: 50%;
    padding-left: 1%;
}
.form-left {
    width: 50%;
    padding-right: 1%;
}
.ratio-background {
    background-color: red;
    width: 80%;
}
.ratio-main {
    height: 12px;
    background-color: green;
    max-width: 100%;
}
.stats-wrapper {
    display: flow-root;
}
.stats-wrapper:last-child, .stats-wrapper:last-child p {
    margin: 0;
}
.gapped {
    gap:  10px;
}
.profile-uuid {
    font-size: x-small;
}
.no-padding-right {
    padding-right: 0;
}
.padding-right {
    padding-right: calc(var(--bs-gutter-x) * .5);
}
.padding-bottom {
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}
.full-height {
    height: 100%;
}
.flex {
    display: flex;
}