#stats .card{
    min-width: 250px;
}
#stats .card:active .description{
    transform: translateY(0);
    transition: transform .321s ease-in;
}
#stats .card .description{
    height: 230px;
    overflow-y: auto;
    transform: translateY(-105%);
    transition: transform .3s ease-in;
    width: 100%;
    z-index: 2;
}
#stats .bi{
    font-size:1.5rem;
    transition:transform .5s;
}
#stats .bi:hover{
    transform:scale(1.1);
}
.form-right {
    width: 50%;
    padding-left: 1%;
}
.form-left {
    width: 50%;
    padding-right: 1%;
}
.ratio-background {
    background-color: red;
    width: 90%;
}
.ratio-main {
    height: 12px;
    background-color: green;
}
.ratio-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ratio-wrapper p {
    margin: 0;
    width: 10%;
    min-width: fit-content;
    margin-right: 10px;
}